@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Jura:wght@400;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

.customContainer {
  @apply container mx-auto px-4 lg:px-8;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 0 !important;
    top: var(--swiper-pagination-top,auto);
    left: 0;
    width: 100%;
}
.swiper-pagination {
    display: none !important;
    position: absolute;
    text-align: center;
    transition: .3s opacity;
    transform: translate3d(0,0,0);
    z-index: 10;
}

.discover {
    background-color: #ffffff;
    background-image: url("/images/discover/banner.png");
    background-position: top left;
    background-size: cover;
}
